.form-block-wrapper {
  padding: 2em 3em;
  background-color: rgb(var(--theme-card-background));
  border: 1px solid rgba(53, 184, 190, 0.15);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: center;

  .form-block {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  button {
    margin: 0 auto;
    display: block;
  }

  button + button {
    margin-top: 1.5em;
  }

  span {
    color: var(--theme-text-color);
  }
}

.button-group {
  align-self: center;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .form-block-wrapper {
    padding: 2em 4.5em;

    button {
      display: initial;
      margin: initial;
    }

    button + button {
      margin-top: 0;
      margin-left: 1.5em;
    }
  }

  .form-block-wrapper input {
    margin-left: auto;
  }
}

@media screen and (min-width: 800px) {
  .form-block-wrapper {
    padding: 3em 7em;
  }
}
