.new-account {
  font-weight: 700;
  display: inline-block;
}

.error {
  display: block;
  color: red;
  text-align: center;
  margin-top: 1em;
}

.google-auth {
  padding: 0.3em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: stretch;
  transition: var(--animation-timing);
}

@media screen and (min-width: 800px) {
  .new-account:hover {
    text-decoration: underline;
  }

    .google-auth:hover {
        border-radius: 20px;
    }
}
