.main__button {
    color: var(--theme-text-color);
    border: 1px rgba(128, 128, 128, 0.5) solid;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    font-size: clamp(14px, 0.7rem, 25px);
    cursor: pointer;
    letter-spacing: 1px;
    background: transparent;
    white-space: nowrap;
}

.main__button.primary {
    background: rgba(53, 184, 190, 1);
    color: white;
}

@media screen and (min-width: 1000px) {

    .main__button {
        transition: border-radius 0.2s ease-in-out;
    }

    .main__button:hover {
        border-radius: 50px;
    }

    .main__button:active {
        color: rgb(68, 125, 195);
    }
}