.product__count {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid rgba(221, 221, 221, 1);
    background: rgba(250, 250, 250, 1);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__count input {
    width: 40px;
    text-align: center;
    border: none;
    background: inherit;
    font-size: 16px;
}

.product__count input:focus {
    outline: none;
}
