.tool-tip-trigger {
  display: inline-block;
  position: relative;
}

.tool-tip-trigger:hover > .tool-tip {
  display: block;
  width: max-content;
  transform: translateX(-50%);
}

.tool-tip {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 150%;
  background-color: aliceblue;
  border: 1px solid var(--theme-special-bluish-text-color);
  border-radius: 6px;
  padding: 0.2em 0.3em;
}