.theme-wrapper.light {
  --theme-background: #fff;
  --theme-card-background: 255, 255, 255;
  --theme-text-color: #333;
  --theme-special-bluish-text-color: rgba(84, 98, 133, 1);
  --theme-background-image-gradient: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  background-color: var(--theme-background);
  color: var(--theme-text-color);
}

.theme-wrapper.dark {
  --theme-background: #333;
  --theme-card-background: 77, 77, 77;
  --theme-text-color: #fff;
  --theme-special-bluish-text-color: rgb(153, 171, 218);
  --theme-background-image-gradient: linear-gradient(
    rgba(51, 51, 51, 0.8),
    rgba(51, 51, 51, 0.8)
  );
  background-color: var(--theme-background);
  color: var(--theme-text-color);
}
