label {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;


  input {
    max-width: 200px;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgba(221, 221, 221, 1);
    border-radius: 6px;
    height: 30px;
    font-size: clamp(16px, 1rem, 1.3rem);
    outline: none;
    letter-spacing: 1px;
    white-space: nowrap;
  }

  input[type="password"], input[type="text"] {
    padding-right: 30px;
  }

  input:focus {
    border: 2px solid var(--page-color);
  }
}

.toggle-password-visibility {
  position: absolute;
  display: block;
  bottom: 5px;
  right: 6px;
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  label {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;

    input {
      max-width: none;
      width: 250px;
    }
  }
}
