.content-block {
  display: flex;
  width: var(--block-width);
  gap: 0.5em;
  background-color: rgb(var(--theme-card-background));
  padding: 1em;
  border: 1px solid rgba(53, 184, 190, 0.15);
  border-radius: 6px;
}

.content-block__image {
  align-self: center;
  border-radius: 6px;
  width: 120px;
  height: 120px;
}

.content-block__item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.7em;
}

.content-block__item-info {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  align-items: center;
}

.content-block__name {
  letter-spacing: 1px;
  color: var(--theme-text-color);
}

.content-block__price {
  color: var(--page-color);
  font-size: 0.8rem;
  line-height: 1.5rem;
}

/* Your existing CSS */
.content-block__item-description {
  cursor: pointer;
  font-size: 0.8rem;
  color: var(--theme-special-bluish-text-color);
  line-height: 1.5rem;
  max-height: 4.5rem; /* Collapsed state max-height */
  overflow: hidden;
  word-break: break-all;
  position: relative;
}

.content-block__skeleton-item-description > * + * {
  margin-top: 0.5em;
}

.content-block__item-description::after {
  content: "";
  position: absolute;
  top: 66.67%;
  right: 0;
  bottom: 0;
  width: 40%;
  background: linear-gradient(
    to right,
    rgb(var(--theme-card-background), 0) 0%,
    rgb(var(--theme-card-background)) 100%
  );
}

.content-block__item-cart {
  max-height: 50px;
  display: flex;
  gap: 0.8em;
}

.content-block.opened .content-block__item-description {
  max-height: 100%; /* Expanded state max-height */
  overflow: visible;
  word-break: initial;
}

.content-block.opened .content-block__item-description::after {
  display: none;
}

@media screen and (min-width: 800px) {
  .content-block.opened + .content-block {
    align-self: start;
  }

  .content-block:has(+ .content-block.opened) {
    align-self: start;
  }
  .content-block.opened .content-block__image {
    float: left;
  }
  .content-block.opened .content-block__item-description {
      display: inline-block;
  }
}
