.header {
  position: sticky;
  top: 0;
  left: 0;
  font-size: 0.9rem;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  background: var(--theme-background);
  z-index: 10;
}

.header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2em;
}

.theme-toggle {
  cursor: pointer;
  padding: 0.2em;
  border-radius: 50%;
}

.cart {
  background-color: var(--page-color);
  padding: 1em;
  position: relative;
  border-radius: 4px;
}

.cart__img {
  margin: auto;
}

.cart__item-count {
  color: var(--page-color);
  box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
  font-size: 0.8rem;
  min-width: 40%;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10%;
  right: -10%;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--burger-gap);
  position: relative;
  z-index: 3;
  cursor: pointer;

  &::before,
  .burger-menu__line,
  &::after {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--theme-text-color);
    border-radius: 99999px;
    transform-origin: left center;
    transition:
      opacity var(--animation-timing),
      width var(--animation-timing),
      rotate var(--animation-timing),
      translate var(--animation-timing);
  }

  &.opened::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  &.opened::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  &.opened .burger-menu__line {
    opacity: 0;
    width: 0;
  }

  &.opened + .navbar {
    width: calc(100vw + 1em);
  }
}

.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  padding: 3em 0 0 1em;
  background: var(--theme-background);
  width: 0;
  right: -1em;
  bottom: 0;
  transition: width var(--animation-timing);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  font-size: clamp(14px, 2rem, 25px);
}


@media screen and (min-width: 600px) {
  .header__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .theme-toggle:hover {
    background-color: rgb(120, 120, 120, 0.5);
  }

  .cart {
    order: 2;
  }

  .burger-menu {
    display: none;
  }

  .navbar {
    position: static;
    height: auto;
    padding: 0;
    width: auto;
    translate: 0;
    background: inherit;
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: clamp(14px, 1.1rem, 25px);
  }

  .navbar__element.active {
    color: var(--page-color);
  }
}

@media screen and (min-width: 800px) {
  .navbar__element {
    position: relative;
  }

  .navbar__element:after {
    --underline-height: 2px;
    transition: transform 0.3s ease-in-out;
    content: "";
    display: block;
    position: absolute;
    bottom: calc(0 - var(--underline-height));
    left: 0;
    height: var(--underline-height);
    width: 100%;
    background-color: var(--page-color);
    transform: scale(0, 1);
    transform-origin: 100% 0;
    border-radius: 999999999px;
  }

  .navbar__element:hover:after {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
}
