.not-found {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.not-found > * + * {
    margin-top: 2em;
}

.not-found img {
    max-width: 30vmax;
    border-radius: 20px;
    height: auto;
}

.not-found a + a {
    margin-left: 1em;
}

a:hover {
    color: var(--page-color)
}