.main {
    background: var(--theme-background-image-gradient), url("../../assets/IMAGEbackground.png") no-repeat;
    background-size: 100% auto;
    padding: 3em 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    background-color: var(--theme-background);
}

.main__heading {
    font-size: clamp(20px, 2.1rem, 50px);
    color: var(--page-color);
}

.main__subtitle {
    width: 80%;
    text-align: center;
    font-size: 0.9rem;
    color: var(--theme-special-bluish-text-color);
}

@media screen and (min-width: 800px) {
    .main {
        padding: 7em 5em 5em;
    }

    .main__subtitle {
        width: 45%;
    }
}

@media screen and (min-width: 500px) {
    .main {
        padding: 5em 3em 3em;
    }
}