.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.content {
    gap: var(--block-gap);
    display: flex;
    flex-wrap: wrap;
}


