.order__content-wrapper {
    width: 100%;
    text-align: center;
}

.order__content-wrapper span {
    text-wrap: nowrap;
}

.order__card:first-child {
    margin-top: 2em;
}

.product__count input {
    text-align: center;
}

.order__address-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    align-items: center;
}

.order__address-form label span {
    text-align: start;
}

.empty-cart {
    margin-top: 5em;
}

@media screen and (min-width: 500px) {
    .order__content-wrapper {
        width: 80%;
    }

    .order__card {
        padding: 2em;
    }
}

@media screen and (min-width: 800px) {

    .order__card {
        padding: 2em 3em;
    }

    .order__card-tools {
        flex-direction: row;
    }

    .order__card-tools > p {
        margin-left: 2em;
        margin-right: auto;
    }
}
