.footer {
    padding: 3em 1em 2em;
    background-image: var(--theme-background-image-gradient), url("../../assets/IMAGEfooter.png");
}

.footer__info-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    color: var(--theme-special-bluish-text-color);
}

.footer__info-text {
    margin-top: 1em;
}

.footer__info > p + p {
    margin-top: 0.5em;
}

.footer__column-wrapper {
    display: flex;
    gap: 1.5em;
    margin-left: 1em;
    flex-wrap: wrap;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 0.8rem;
    color: var(--theme-special-bluish-text-color);
}

.footer__column > li:first-child {
    letter-spacing: 2px;
    color: var(--theme-text-color);
}


.footer__bottom {
    margin-top: 5em;
    padding-top: 3em;
    border-top: 1px solid rgba(126, 130, 143, 0.09);
    display: flex;
    justify-content: space-between;
}

.footer__social-media {
    display: flex;
    gap: 1em;
    margin-left: 1em;
}


@media screen and (min-width: 800px) {
    .footer {
        padding: 5em 3em 3em;
    }

    .footer__column-wrapper {
        gap: 5em;
    }

    .footer__bottom {
        margin-top: 7em;
    }

    .footer__social-media {
        gap: 1.5em;
    }
}