.main__heading {
  text-align: center;
}

.weak-password {
  display: none;
  color: red;
  text-align: center;
  margin-top: 1em;
}

.weak-password.show {
  display: block;
}

.sign-up-error {
  display: block;
  color: red;
  text-align: center;
  margin-top: 1em;
}

.email-check-notify {
  color: lightgreen;
  text-align: center;
}