.main:has(.home__content-wrapper) {
    background-image: var(--theme-background-image-gradient), url("../../../assets/home-main-bg-image.png");
    background-size: 100% 820px;
    background-color: var(--theme-background);
}

.home__content-wrapper {
    --img-width: 70vmin;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.home__content-wrapper__img {
    align-self: center;
    width: var(--img-width);
    height: 100%;
}

.home__content-wrapper__skeleton-img {
    align-self: center;

    > * {
        width: var(--img-width);
        min-height: calc(var(--img-width) / 0.897);
    }
}

.home__content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.home__content__heading {
    font-size: clamp(20px, 2.1rem, 50px);
    font-weight: 400;
}

.home__content__description {
    color: var(--theme-special-bluish-text-color);
}

.home__content__rating {
    align-self: flex-start;

    & > div {
        font-weight: 600;
        font-size: 1.2rem;
    }

    & > p {
        margin-top: .5em;
    }
}


@media screen and (min-width: 800px) {
    .home__content-wrapper {
        --img-width: 35vw;

        flex-direction: row;
        align-items: center;

    }

    .home__content-wrapper__img {
        min-width: var(--img-width);
        max-height: none;
    }

    .home__content-wrapper__skeleton-img {
        min-width: var(--img-width);
        min-height: calc(var(--img-width) / 0.897);
        align-self: center;
    }

}